@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari&family=Open+Sans&display=swap');

/* header styling */

#nav-menu {
    list-style-type: none;
    display: flex;
    flex-direction: row nowrap;
    justify-content: flex-end;
    text-align: justify;
}

header {
    background-color: #241e20;
    height: 280px;
    padding: 30px 10px;
    border: 1px;
}

header > h1 {
    text-align: left;
    text-transform: uppercase;
    font-family: 'Noto Serif Devanagari', serif;
    color:#ffffff;
    letter-spacing: 2px;
}

#tbw-logo {
    width: 20%;
    height: auto;
    float: left;
}

nav a {
    text-decoration: none;
    color:#ffffff;
    font-family: 'Open Sans', sans-serif;
}

nav a:hover {
    color: #76a38f;
    text-decoration: underline;
    transition: all 0.5s ease 0s;
}

nav a:active {
    color: #8c6a4f;
    text-decoration: underline;
}

body {
    margin: 0;
}