@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari&family=Open+Sans&display=swap');

html {
    scroll-behavior: smooth;
    min-height: 100vh
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: #76a38f;
}

h1,
h2 {
    font-family: 'Noto Serif Devanagari', serif;
}

#page-container {
    position: relative;
}


/* header styling */

header {
    background-color: #241e20;
    height: auto;
    padding: 10px;
    width: 100%
}

/* header logo */

#logo-text {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 60px 10px 10px;
    font-size: 2vw;
}

#tbw-logo {
    width: 20%;
    height: auto;
    float: left;
}

/* navigation bar */

#nav-menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav {
    padding: 10px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Noto Serif Devanagari', serif;
    padding: 30px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    color: #8c6a4f;
    text-decoration: underline;
    transition: all 0.5s ease 0s;
    letter-spacing: 2px;
}

nav a:active {
    color: #76a38f;
    text-decoration: underline;
    letter-spacing: 2px;
}

/* biography */

#bio {
    background-color: #241e20;
    width: 100%;
    position: relative;
}

#bio-bg {
    height: 700px;
    width: 100%;

    background-image: url('../images/bio-bg.webp');
    background-size: cover;
}

.about {
    width: 500px;

    font-size: 20px;
    letter-spacing: 2px;

    background-color: rgba(60, 86, 72, 0.6);
    border-radius: 8px;

    position: absolute;

    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* new album section */

#new-album {
    background-color: #241e20;
}

#new-album img {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 20px;
}

#new-album-container {
    display: flex;
    align-items: center;
}

#new-album-text {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size: 175%

}

#new-album-text h2 {
    color: #76a38f;
}

#new-album-text h2,
h3 {
    text-transform: uppercase;
    font-size: 200%;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;
    margin: 0;
}

/* tour dates & locations */

#tour div {
    padding-left: 20px;
}

#tour-heading {
    text-align: center;
    text-transform: uppercase;
    font-size: em;
    letter-spacing: 7px;
    margin-bottom: 40px;
}

.tour-location {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
}

.tour-details {
    display: flex;
    flex-direction: row;
    height: auto;
}

.tour-right {
    float: right;
    width: 45%;
}

.tour-left {
    float: left;
    width: 35%;
}

/* tour map iframes */

.tour-right iframe {
    border: 0;
    width: 100%;
}

/* discography */

#discography-title {
    text-align: center;
    text-transform: uppercase;

    font-size: 2em;
    letter-spacing: 7px;

    padding: 30px;
}

.discography-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    background-color: rgba(36, 30, 32, 0.6)
}

.album-cover {
    float: right;
}

.album-cover img {
    width: 500px;
    height: auto;
    border-radius: 8px;
}

.album-description {
    font-size: 20px;
    padding-left: 20px;
}

.album-description iframe {
    border: 0;
    width: 100%;
    height: 120px;
}

#discography h2 {
    text-transform: uppercase;
}

/* newsletter sign up page */

.form-container {
    width: 700px;
    clear: both;
    margin: auto;
    display: table;

    background-color: rgba(36, 30, 32, 0.6);
    padding: 30px 10px 30px 10px;
}

.form-container h2,
.form-container p {
    text-align: center;
}

.form-container input {
    width: 100%;
    clear: both;
}

#form-button {
    width: 15%;
    padding: 0.5em;
    margin-top: 10px;
    color: white;
    background-color: #76a38f;
    border: 1px solid;
    border-radius: 5px;
}

#form-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.5s ease 0s;
}

/* thank you page */

#thank-you-page {
    margin-top: 30px;
    margin-left: 20px;
}

/* footer */

footer {
    background-color: #241e20;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

#social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#social-links a {
    text-decoration: none;
    color: #ffffff;

    font-size: 28px;
    padding: 13px;
}

#social-links a:hover {
    color: #8c6a4f;
    text-decoration: underline;
    transition: all 0.5s ease 0s;
}

footer p {
    text-align: center;
    margin: 0;
}

/* Media queries */
/* For larger to medium screens, 1000px & below */
@media screen and (max-width: 1000px) {
    .discography-container {
        flex-direction: column;
    }
}