@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari&family=Open+Sans&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: #76a38f;
}

h1, h2 {
    font-family: 'Noto Serif Devanagari', serif;
}

#page-container {
    position: relative;
}

/* header styling */

#nav-menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header {
    background-color: #241e20;
    height: 280px;
    padding: 30px 10px;
    border: 1px;
    width: 100%
}

#logo-text {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 60px 10px 10px;
}

#tbw-logo {
    width: 20%;
    height: auto;
    float: left;
}

nav {
    padding: 10px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Noto Serif Devanagari', serif;
    padding: 30px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    color: #76a38f;
    text-decoration: underline;
    transition: all 0.5s ease 0s;
    letter-spacing: 2px;
}

nav a:active {
    color: #8c6a4f;
    text-decoration: underline;
    letter-spacing: 2px;
}



/* biography */

#bio {
    background-color: #8c6a4f;
    height: 800px;
    width: 100%;
    position: relative;
}

#bio-bg {
    height: 800px;
    width: 100%;

    background-image: url('../images/bio-image.jpg');
    background-size: cover;
}

.about {
    width: 500px;
    height: 300px;

    font-size: 20px;
    letter-spacing: 2px;

    background-color: rgba(60, 86, 72, 0.6);
    border-radius: 8px;

    position: absolute;

    top: 50px;
    left: 170px;
    padding: 20px 20px 0px 20px;
}

/* tour dates & locations */

#tour div {
    padding-left: 30px;
}

#tour-heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 7px;
}

.tour-location {
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* tour map iframes */

.map {
    width: 40%;
    height: 450px;
    border: 0;
}

/* discography */

#discography-title {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline 2px;

    font-size: 2em;
    letter-spacing: 7px;

    padding: 30px;
}

.discography-container {
    display: flex;
    align-items: center;
    justify-content: left;

    padding: 50px;

    background-color: rgba(36, 30, 32, 0.6)
}

.album-cover {
    float: right;
}

.album-cover img {
    width: 500px;
    height: auto;
    border-radius: 8px;
}

.album-description {
    font-size: 20px;
    padding-left: 20px;
}

#discography h2 {
    text-transform: uppercase;
}

/* newsletter sign up page */

.form-container {
    width: 700px;
    clear: both;
    margin: auto;
    display: table;

    background-color:  rgba(36, 30, 32, 0.6);
    padding: 30px 10px 30px 10px;
}

.form-container input {
    width: 100%;
    clear: both;
}

#form-button {

}

/* footer */

footer {
    background-color: #241e20;
    height: 10vh;
    bottom: 0;
    width: 100%;
}

#social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    padding: 20px 10px 10px 10px;
}

#social-links a {
    text-decoration: none;
    color: #c6e0c9;

    font-size: 28px;
}

#social-links a:hover {
    color: #8c6a4f;
    text-decoration: underline;
    transition: all 0.5s ease 0s;
    letter-spacing: 2px;
}